{% extends 'base.html' %}
{% block content %}
<div  class="login-container">
  
  <h3 class="header">Password Reset Confirmation</h3>
  <form method="post">
    {% csrf_token %}
    <p>{{ form.new_password1.errors }}</p>
    <p>{{ form.new_password2.errors }}</p>
    <div class="form-floating mb-3">
        <input
          id="new_password1"
          class="form-control"
          id="floatingInput"
          name="new_password1"
          type="password"
          placeholder="********"
        />
        <label for="floatingInput">Password</label>
      </div>

    <div class="form-floating mb-3">
        <input
          id="new_password2"
          class="form-control"
          id="floatingInput"
          name="new_password2"
          type="password"
         placeholder="********"
        />
        <label for="floatingInput">Confirm Password</label>
      </div>
    <button class="auth-button btn btn-secondary btn-sm" type="submit">Set Password</button>
  </form>
</div>
{% endblock %}