{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
      }

      html,
      body {
        scroll-behavior: smooth;
        overflow-x: hidden;
      }
    </style>
</head>
<body>
    
<div>
    <p>Hello,</p>

<div>
    <p>You're receiving this mail because you requested for a password reset for your user account on the Getdp platform, click the link below to reset your password</p>

    {% block reset_link %}
    <a href="{{ protocol }}://{{domain}}{% url 'password-reset-confirm' uidb64=uid token=token %}" target="_blank" rel="noopener noreferrer" >Reset Password</a>
    {% endblock %}

    <p>If you did not apply for this process on the Getdp platform, kindly ignore.</p>
</div>

<p>
    <span>Regards,</span>
    <span>
        Getdp
    </span>
</p>
</div>
</body>
</html>