{% extends 'base.html' %} 
{% block content %}
<div class="login-container">
  <h3 class="header">Reset Password</h3>
  <form method="post" action="{% url 'password-reset' %}">
    {% csrf_token %}
    <p>{{ form.email.errors }}</p>
    <div class="form-floating mb-3">
        <input
          id="email"
          class="form-control"
          id="floatingInput"
          name="email"
          type="email"
          placeholder="e.g. johndoe@gmail.com"
        />
        <label for="floatingInput">Email address</label>
      </div>

    <button class="auth-button btn btn-secondary btn-sm" type="submit">Send E-mail</button>
  </form>
  <div style="text-align: center;">
    <a href="{% url 'login' %}">Login</a>
  </div>
</div>

{% endblock %}
