{% extends 'base.html' %}
{% block content %}
    <div class="login-container">
      <div>
        <p>Getdp account password reset</p>
       
        {% if 'email' in request.get_full_path %}
        <div>Check your email/ spam for instructions, the password reset link will be invalid in the next 30 minutes</div>
        {% endif %} {% if 'complete' in request.get_full_path %}
        <div>Your password has been reset successfully, <a href="{% url 'login' %}">Login</a> to your account.</div>
        {% endif %} {% if 'change' in request.get_full_path %}
        <div>Your password has been changed successfully, <a href="{% url 'login' %}">Login</a> to your account.</div>
        {% endif %}
      </div>
    </div>
    {% endblock %}

