[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-heroku = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
django-ckeditor = "*"
django-hitcount = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
