/* div
#cke_id_body{
  width: 1000px !important;
}

div#cke_id_body
.cke_1.cke.cke_reset.cke_chrome.cke_editor_id_body.cke_ltr.cke_browser_webkit{
  width: 1000px !important;
}

div.cke_inner.cke_reset{
  width: 1000px !important;
} */

span#cke_37,#cke_34{
  display: none;
}

a#cke_28.cke_button.cke_button__flash.cke_button_off,
a#cke_29.cke_button.cke_button__table.cke_button_off,
a#cke_25.cke_button.cke_button__anchor.cke_button_off{
  display: none;
}
