@media all and (min-width: 100px) and (max-width: 950px) {
  .login-container {
    width: 80%;
  }

  .register-container {
    width: 80%;
  }
}

@media all and (min-width: 100px) and (max-width: 620px) {

  nav ul {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 57px;
    left: 100%;
    text-align: left;
    background: white;
    z-index: 1000;
    transition: all 0.5s;
    opacity: 93%;
    padding-right: 0;
  }

  nav ul li {
    display: block;
    margin: 25px 0px;
    line-height: 30px;
    text-align: center;
  }

  nav ul li a {
    font-size: 20px;
    color: #28125e;
  }

  nav ul li a:hover {
    font-size: 20.3px;
    color: #28125e;
    border-bottom: 0 !important;
  }

  nav ul li a:active {
    font-size: 15px;
  }

  .checkbtn {
    display: block;
  }

  #check:checked ~ ul {
    left: 0;
  }

  #cross{
    display: none;
  }
}
