@media all and (min-width: 100px) and (max-width: 950px) {
  .login-container {
    width: 80%;
  }

  .register-container {
    width: 80%;
  }
}

@media all and (min-width: 100px) and (max-width: 750px) {
  .flex-container {
    display: block;
    width: 100%;
    height: 300px;
    margin-left: 100%;
    margin-right: 0;
    background: white;
    z-index: 1000;
    transition: all 0.5s;
    opacity: 93%;
    margin-top: 13px;
    text-align: center;
  }

  .mobile-logo {
    display: block;
  }

  .nav-item-center > ul {
    display: block;
    text-align: center;
  }

  .nav-item-center > ul > li {
    margin: 0;
  }

  .nav-item-right > ul {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
  }

  .nav-item-right > ul {
    display: block;
    text-align: center;
    padding-left: 0;
    margin-bottom: 0;
  }

  .nav-item-right > ul > li {
    margin: 0;
  }

  .nav-item-left {
    display: none;
  }

  .mobile-logo {
    margin-left: 15px;
  }

  ul li a {
    font-size: 20px;
    color: #28125e;
    line-height: 40px;
  }

  ul li a:hover {
    font-size: 20.3px;
    color: #28125e;
    border-bottom: 0 !important;
  }

  ul li a:active {
    font-size: 15px;
  }

  .checkbtn {
    display: block;
  }

  #check:checked ~ .flex-container {
    margin-left: 0;
  }

  #cross {
    display: none;
  }

  .category-grid {
    grid-template-columns: 1fr;
  }

  .banner-grid {
    grid-template-columns: 1fr;
  }

  .view-banner-data {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    text-align: center;
  }

  .search-wrap {
    width: 90%;
    margin: auto;
    margin-top: 50px;
  }
  
  .search-wrap .search-box {
    width: 90%;
    height: 45px;
    margin: auto;
  }

  .search-wrap .search-box .input {
    padding: 2.5px 5px;
    font-size: 11px;
    padding-right: 40px;
  }

  .search-wrap .search-box .input:hover {
    font-size: 12px;
  }

  .search-wrap .search-box .btn {
    width: 35px;
  }

  .search-wrap .search-box .btn.btn_common .fas {
    font-size: 13px;
  }

}

@media all and (min-width: 620px) and (max-width: 950px) {
  .category-grid {
    grid-template-columns: 1fr 1fr;
  }

  .banner-grid {
    grid-template-columns: 1fr;
  }

  .view-banner-data {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    text-align: center;
  }
}
