* {
  padding: 0;
  margin: 0;
  font-family: "Eczar", sans-serif;
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 57px;
  width: 100%;
  border-bottom: 1px solid #cdcdcd;
  z-index: 10;
  background-color: White;
 overflow: hidden;
}



nav:after {
  content: "";
  clear: both;
  display: table;
}


nav ul {
 float: right;
 padding-right: 20px;
}

.nav-item-center{
  position: absolute;
  left: 35%;
}


.navbar-logo {
  font-size: 28px;
  padding-left: 20px;
  text-decoration: none;
  color: #26174b;
  margin-top: 10px;
  display: inline-block !important;
}

.navbar-logo:hover {
  font-size: 28.3px;
  text-decoration: none;
  color: #26174b;
}

.checkbtn {
  font-size: 25px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  display: none;
  cursor: pointer;
}

#check {
  display: none;
}

#bars {
  line-height: 80px;
  margin-right: 10px;
  font-size: 22px;
  cursor: pointer;
  color: #26174b;
}

#cross {
  display: none;
  line-height: 80px;
  margin-right: 10px;
  font-size: 22px;
  cursor: pointer;
  color: #26174b;
}

#check:checked + label i#bars {
  display: none;
}

#check:checked + label i#cross {
  display: block;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 10px;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: #28125e;
  font-size: 18px;
}

li a:hover {
  font-size: 18.3px;
  color: #28125e;
  transition: ease-out 0.3s;
}

.messages {
  color: red;
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.messages {
  color: red;
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.login-container {
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 65vh;
  padding: 19px;
  margin-top: 5rem;
}

.register-container {
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 95vh;
  padding: 19px;
  margin-bottom: 50px;
  margin-top: 5rem;
}

.header {
  text-align: center;
  color: #28125e;
  margin: 15px;
}

form {
  color: #28125e;
  text-align: center;
}

.auth-button {
  display: block !important;
  margin-right: auto !important;
  margin-left: auto !important;
  background-color: #26174b !important;
  color: white;
  border: none !important;
  outline: none !important;
  width: 40%;
}

.auth-button:hover {
  color: white !important;
  background-color: #26174bec !important;
  transition: ease-out 0.3s;
  border: 1px solid #26174b !important;
}

.intro-img{
  background: url('../images/images.png') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 40vh;
}

.intro{
  padding-top: 100px;
  text-align: center;
  color: white;
  margin:  0 20px;
}

.intro > p{
  font-size: 20px;
  margin-top: 10px;
}

.create-banner-container{
  padding-top: 100px;
}

.create-banner-form-container{
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 150vh;
  padding: 19px;
  margin-bottom: 50px;
  border: 4px solid #cdcdcd;

}

.form-btn {
  display: block !important;
  background-color: #26174b !important;
  color: white;
  border: none !important;
  outline: none !important;
  width: 10%;
}

.form-btn:hover {
  color: white !important;
  background-color: #26174bec !important;
  transition: ease-out 0.3s;
  border: 1px solid #26174b !important;
}
