{% extends 'base.html' %} {% block content %}
<div class="intro-img">
  <div class="intro">
    <h2>{{category}} Category</h2>
    <p>These are banners in the {{category}} category</p>
  </div>
</div>
{% if banners %}
<div class="banner-grid">
  {% for banner in banners %}
  <a class="banner-link" href="{% url 'view-banner' banner.slug %}">
    <div class="banner-card">
      <div class="banner-top">
        <span class="banner-created"> {{banner.created}} </span>
      </div>
      <div class="banner-image-container">
        {% if banner.image %}
        <img class="banner-image" src="{{ banner.image.url }}" alt="" />
        {% endif %}
      </div>
      <div class="banner-content">
        <h5 class="banner-header">{{banner.name}}</h5>
        <div>{{banner.description|safe|truncatewords:15}}</div>
      </div>
      <div class="banner-bottom">
        <span>100 Views</span>
        <span>229 Usage</span>
        <span>5 Comments</span>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
{% else %}
<h2 class="header">There are no banners in this category</h2>
{% endif %}
{% endblock %}
