{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/ckeditor-cleaning.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/media-query.css' %}">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link href="https://fonts.googleapis.com/css2?family=Eczar&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet" />
    <title>Get My Dp</title>
</head>
<body>
    <nav>
      <input type="checkbox" id="check" />
      <label for="check" class="checkbtn">
        <i id="cross" class="fa fa-times"></i>
        <i id="bars" class="fa fa-bars" aria-hidden="true"></i>
      </label>
      <a class="navbar-logo" href="/">Get My Dp</a>
      <ul>
        <span class="nav-item-center"> 
          <li><a href="#">Discover</a></li>
          <li><a href="{% url 'categories' %}">Categories</a></li>
          <li><a href="{% url 'create-banner' %}">Create Banner</a></li>
        </span>
        {% if user.is_authenticated %}
        <li><a href="{% url 'user-profile' user.username %}">My Profile</a></li>
        <li><a href="{% url 'logout' %}">Log Out</a></li>
        {% else %}
        <li nav justify-content-end ><a href="{% url 'login' %}">Sign In</a></li>
      </ul>
      {% endif %}
    </nav>
    {% block content %} 
  
    {% endblock %}
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
  ></script>
</body>
</html>