{% extends 'base.html' %} {% block content %}

<div class="create-banner-container">
  <div class="create-banner-form-container">
    {% if messages %} {% for message in messages %}
    <p class="messages">{{message}}</p>
    {% endfor %} {% endif %}
    <h4 class="header">Create DP Banner</h4>
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-floating mb-3">
        <input
          id="name"
          class="form-control"
          name="name"
          type="text"
          placeholder="e.g. The Dev Fest Conference Banner"
        />
        <label for="name">Banner Name</label>
      </div>

      <div>
       <label>{{form.image.label_tag}}</label>
        {{form.image}}
     </div>
     
      {{ form.media }}
      <p>{{ form.description.label_tag }}</p>
      {{ form.description }}

      <div class="form-floating mb-3">
      {{form.tag}}
        <label>{{ form.tag.label_tag }}</label>
      </div>

      <div class="form-floating mb-3">
        {{form.category}}
        <label>{{ form.category.label_tag }}</label>
      </div>
        <button class="save-btn" type="submit">Save</button>
    </form>
  </div>
</div>

{% endblock %}
