{% extends 'base.html' %} {% block content %}
<div style="height: 500vh;">
  <div class="intro-img">
  <div class="intro">
    <h2>Get Your DP Banner</h2>
    <p>By enabling them create and share personalized DP based on your brand, event or campaign banners</p>
  </div>
  </div>

<div class="banner-grid">
  {% for banner in banners %}
  <a class="banner-link" href="{% url 'view-banner' banner.slug %}">
    <div class="banner-card">
      <div class="banner-top">
        <span class="banner-category"> {{banner.category}} </span>
        <span class="banner-created"> {{banner.created}} </span>
      </div>
      <div class="banner-image-container">
        {% if banner.image %}
        <img class="banner-image" src="{{ banner.image.url }}" alt="" />
        {% endif %}
      </div>
      <div class="banner-content">
        <h5 class="banner-header">{{banner.name}}</h5>
        <div class="banner-description">{{banner.description|safe|truncatewords:15}}</div>
      </div>
      <div class="banner-bottom">
        <span>100 Views</span>
        <span>229 Usage</span>
        <span>{{comment.banner.all.count}} Comments</span>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
</div>

{% endblock %}
