{% extends 'base.html' %} {% load static %} {% block content %}
<div style="padding-top: 50px" >
  {% if user.avatar %}
  <img class="user-profile-avatar" src="{{ user.avatar.url }}" alt="" />
  {% else %}
  <img class="user-profile-avatar" src="{% static 'images/default-avatar.svg' %}" alt="" />
  {% endif %}
  <h2 class="header">{{user.full_name}}</h2>
  <h4 class="header">@{{user.username}}</h4>
  {% if user.email %}
  <h6 class="header">{{ user.email}}</h6>
  {% endif %} {% if request.user == user %}
  <div class="btn-guide">
    <a
      class="edit-profile-btn"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasRight"
      aria-controls="offcanvasRight"
      href="{% url 'user-profile' user.username %}"
      >Edit Profile</a
    >
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 class="header" id="offcanvasRightLabel">Edit Profile</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <form action="{% url 'user-profile' user.username %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{form.as_p}}
          <button class="save-btn" type="submit">Save</button>
        </form>
        <a  class="delete-btn btn btn-danger btn-sm" href="{% url 'delete-account' %}">Delete Account</a>
      </div>
    </div>
  </div>
  {% endif %}


  <div class="banner-grid">
    {% for banner in banners %}
    <a class="banner-link" href="{% url 'view-banner' banner.slug %}">
      <div class="banner-card">
        <div class="banner-top">
          <span class="banner-category">
            {{banner.category}}
          </span>  
          <span class="banner-created">
            {{banner.created}}
          </span>
        </div>
        {% if banner.image %}
        <img src="{{ banner.image.url }}" alt="">
        {% endif %}
      <h5 class="banner-header">{{banner.name}}</h5>
      <p>{{banner.description|safe}}</p>
      <div class="banner-bottom">
        <span>{{banner.comment_count}}</span>
      </div>
    </div>
    </a>
    {% endfor %}
  </div
</div>

{% endblock %}
