{% extends 'base.html' %} {% load hitcount_tags %} {% load static %} {% block content %}
<div style="padding-top: 50px">
  <div>
    {% if user.avatar %}
    <div class="custom-profile-avatar-container">
      <img class="custom-profile-avatar" src="{{ user.avatar.url }}" alt="" />
    </div>
    {% else %}
    <img class="default-profile-avatar" src="{% static 'images/default-avatar.svg' %}" alt="" />
    {% endif %}
  </div>
  <h2 class="header">{{user.full_name}}</h2>
  <h4 class="header">@{{user.username}}</h4>
  {% if user.email %}
  <h6 class="header">{{ user.email}}</h6>
  {% endif %} {% if request.user == user %}
  <div class="btn-guide">
    <span
      class="edit-profile-btn"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasRight"
      aria-controls="offcanvasRight"
      href="{% url 'user-profile' user.username %}"
      >Edit Profile</span
    >
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 class="header" id="offcanvasRightLabel">Edit Profile</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <form action="{% url 'user-profile' user.username %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %} {% if user.avatar %} Current Avatar:
          <a href="{{user.avatar.url}}">{{user.avatar.url}}</a>
          {% endif %}
          <div>
            <label>{{form.avatar.label_tag}}</label>
            {{ form.avatar}}
          </div>

          <div>
            <label>{{form.username.label_tag}}</label>
            {{ form.username}}
          </div>

          <div>
            <label>{{form.full_name.label_tag}}</label>
            {{ form.full_name}}
          </div>
          <button class="save-btn" type="submit">Save</button>
        </form>
        <a class="delete-btn btn btn-danger btn-sm" href="{% url 'delete-account' %}">Delete Account</a>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="banner-grid">
    {% for banner in banners %}
    <a class="banner-link" href="{% url 'view-banner' banner.slug %}">
      <div class="banner-card">
        <div class="banner-top">
          <span class="banner-category"> {{banner.category|title}} </span>
          <span class="banner-created"> {{banner.created}} </span>
        </div>
        <div class="banner-image-container">
          {% if banner.image %}
          <img class="banner-image" src="{{ banner.image.url }}" alt="" />
          {% endif %}
        </div>
        <div class="banner-content">
          <h5 class="banner-header">{{banner.name}}</h5>
          <div>{{banner.description|safe|truncatewords:15}}</div>
        </div>
        <div class="banner-bottom">
          {% if current_hit_count > 1 %}
          <span>{% get_hit_count for banner %} Views</span>
          {% else %}
          <span>{% get_hit_count for banner %} View</span>
          {% endif %} {% if banner.banner_users.all.count > 1 %}
          <span>{{banner.banner_users.all.count}} Usages</span>
          {% else %}
          <span>{{banner.banner_users.all.count}} Usage</span>
          {% endif %}
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

{% endblock %}
