{% extends 'base.html' %} {% load static %} {% load hitcount_tags %} {% block content %}
<div style="margin-top: 15=00px">
  <div class="view-banner-container">
    <img class="view-banner-image" src="{{banner.image.url}}" alt="" />
  </div>
  <div class="container">
    {% if request.user == banner.user %}
    <div class="edit-delete-container">
      <a class="edit-banner-btn" href="{% url 'edit-banner' banner.slug %}"
        ><span id="edit-banner-icon" class="material-icons"> edit </span> Edit</a
      >

      <a class="delete-banner-btn" href="{% url 'delete-banner' banner.slug %}"
        ><span id="delete-banner-icon" class="material-icons"> delete </span>Delete</a
      >
    </div>
    {% endif %}
    <h2 class="header">{{ banner.name }}</h2>
    <p class="header">{{banner.category|title}} Category</p>
    <div class="view-banner-data">
      <span>By <a href="{% url 'user-profile' banner.user.username %}">{{banner.user.full_name}}</a></span>
      <span>{{banner.created}}</span>
      {% if current_hit_count >= 1 %}
      <span>{% get_hit_count for banner %} View</span>
      {% else %}
      <span>{% get_hit_count for banner %} Views</span>
      {% endif %}
      <span>{{comments_count}} comments</span>
    </div>
    <div>{{banner.banner_users.all.count}} Usage</div>
    {% if banner.description %}
    <h4>Description</h4>
    <div>{{ banner.description|safe}}</div>
    {% endif %}
    <h4 class="header">Generate Banner</h4>
    <div class="main-banner-image-container">
      <img class="main-banner-image" src="{{banner.image.url}}" alt="" />
    </div>
    <form class="mini-form" action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input class="form-control" type="file" id="image" name="image" />
      </div>

      <div>
        <label>{{usebannerform.full_name.label_tag}}</label>
        {{usebannerform.full_name}}
      </div>

      <input class="gen-btn" type="submit" value="submit" />
    </form>

    <h4>Comments</h4>
    <form action="" method="post">
      {% csrf_token %} {{form.as_p}}
      <input class="gen-btn" type="submit" value="comment" />
    </form>
    {% for comment in comments %}
    <div class="comment-grid">
      <div class="comment-image-container">
        {% if user.avatar %}
        <img class="comment-image" src="{{user.avatar.url}}" alt="" />
        {% else %}
        <img class="comment-image" src="{% static 'images/default-avatar.svg' %}" alt="" />
        {% endif %}
      </div>
      <div>
        <span><a href="{% url 'user-profile' comment.user.username %}">{{comment.user.full_name}}</a></span>
        <small class="comment-created">{{comment.created}}</small>
        <h5>{{comment.name}}</h5>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
