{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-top: 150px;">

            <h1>{{ banner.banner_name }}</h1>
            
            <p>{{ banner.description|safe}}</p>
            <small>{{banner.created}}</small>

            <h4>Comments</h4>
            <form action="" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input class="edit-profile-btn" type="submit" value="comment">
            </form>
            {% if comments %}
            {% for comment in comments %}
            <h3>{{comment.name}}</h3>
            <small>{{comment.created}}</small>
           
            {% endfor %}
            {% else %}
            <p>There are no comments</p>
            {% endif %}
    </div>
{% endblock %}